* {
    padding: 110;
    margin: 110px;
    text-align: center;
  }
  body {
    background-color:pink;
  }
  .calculator {
    width: 350px;
    height: 320px;
    background-color: #c0c0c0;
    box-shadow: 0px 0px 0px 10px #666;
    border: 5px solid black;
    border-radius: 10px;
    position-relative:center;
  }
  #display {
    width: 320px;
    height: 40px;
    text-align: right;
    background-color: black;
    border: 3px solid white;
    font-size: 18px;
    left: 2px;
    top: 2px;
    color: #7fff00;
  }
  .btnTop{
    color: white;
    background-color: #6f6f6f;
    font-size: 14px;
    margin: auto;
    width: 50px;
    height: 25px;
  }
  .btnNum {
    color: white;
    background-color: black;
    font-size: 14px;
    margin: auto;
    width: 50px;
    height: 25px;
  }
  .btnMath {
    color: white;
    background-color: lightblue;
    font-size: 14px;
    margin: auto;
    width: 50px;
    height: 25px;
  }
  .btnOpps {
    color: white;
    background-color: #ff9933;
    font-size: 14px;
    margin: auto;
    width: 50px;
    height: 25px;
  }
  h1{
    font-size: 50px;
  }